@tailwind base;
@tailwind components;
@tailwind utilities;

.heading{
  font-family: 'Poppins', sans-serif;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.num,.sub{
  font-weight: 800;
}

.sub{
  font-weight: 700;
}